@* @{
  Layout = "_Layout";
}

@using System.Security.Claims

<h2>Authentication Needed</h2> 

<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hey there, @User.Identity.Name! <br> Please use the menu above to navigate the tracker</p>
}
else
{
<p> Please login or create an account to continue</p>
} *@
