@{
  Layout = "_Layout";
}

@using PierresTreats.ViewModels;
@model LoginViewModel

<h2>Log in with your account</h2>
<hr />

@using (Html.BeginForm())
{
  <p>@Html.LabelFor(m => m.Email) </p>
  @Html.TextBoxFor(m => m.Email)

  <hr />

  <p>@Html.LabelFor(m => m.Password)</p>
  @Html.PasswordFor(m => m.Password)
    <hr />


  <input type="submit" value="Log in" class="btn btn-primary" />
}